body{
    margin: auto;
}
#firstpage {
     position: relative;
}
.pagestyle{
     width: 375px;
    height: 667px;
    background-color:#E2DCDE;
   
    
}
#logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top:50px;
    left: 90px;
}
#formbox{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 50px;
    bottom: 0px;
    right: 0px;
    width: 80vw;
    height: 150px;
    font-family: 'Josefin Sans', sans-serif;
}
#name {
    margin: 10px;
    width: 200px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #999;
}
.gender {
    display: inline-block;
    font-size: .9em;
}
.btn {
    width: 150px;
  background: #AA767c;
  border-radius: 28px;
  font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  color: #ffffff;
  font-size: 1.6em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #AA767B;
  text-decoration: none;
}

#start{
    position: absolute;
    bottom: 50px;
    right: 40px;
}
#secondpage{
    display: none;
}