body{
    margin: auto;
    overflow: hidden;
}

/*landingpage*/
#pagewrap {
    width: 100vw;
    height: 667px;
    margin: 0 auto;
  }    
#content{
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 550px;
        height: 630px;
        margin: auto; 
      }
p{
            margin-top: 5%;
            font-size: 2.5em;
            text-align: center;
            position: relative;
            top: 300px;
            font-family: 'Josefin Sans', sans-serif;
   
                
        }
p:hover{
    cursor: pointer;
}
.about{
    width: 90%;
    display: block;
}
#aboutdiv{
    width: 60%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 23%;
    margin: auto;
}
.aboutboxes{
    width: 55%;
	height: 200px;
    position: absolute;
    left: 15%;
    top: 45%;
	padding: 20px;

}
#aboutUsBox, #aboutAppBox{
	background-color: #bdd4e7;
	width 200px;
	height:250px;
	border-radius: 20px;
	display: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: #ffffff;
	font-size: 1.1em;
	overflow-y: auto;

}
#logotext{
            width:80%;
            position: absolute;
            top: 30px;
            left: 50px;
        }
.btn {
   cursor: pointer;
width: 150px;
background: #AA767c;
border-radius: 28px;
font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
color: #ffffff;
font-size: 1em;
padding: 10px 20px 10px 20px;
text-decoration: none;
}
.btn:hover {
  background: #7d4f54;
  text-decoration: none;
}
#next{
    width: 170px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}
#helpBut{
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 195px;
}
#helpDiv{
    display: none;
    padding: 15px;
    width: 80%;
    height:470px;
    background-color: rgba(189,212,231,0.9);
    position: absolute;
    left:7%;
    top: 12%;
	border-radius: 20px;
	overflow-y: auto;
}
#helpTitle{
font-family: 'Josefin Sans', sans-serif;
color: black;
font-size: 2em;
   text-align: center;
}
#helpSteps{
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-size: 1.2em;
	position: absolute;
	left: -10px;
}
.closeBut{
    width: 10%;
    position: absolute;
	top: 1%;
	right: 2.2%;
}



      /*MEDIA QUERIES*/
      /* for 980px or less */
      @media screen and (max-width: 667px) {

        * { font-size: 1.0rem; }
		  #logotext{
            top: 30px;
            left: 60px;
            width: 80%;
		  }
		  #pagewrap {
          width: 94%;
		  }
		  #content {
          width: 65%;
		  }
		  #next{
			width:170px;
            height: 40px;
			font-size: 1.5rem;
		  }
		  #helpBut{
              bottom: 9px;
              right: 220px; 
          }
		  #aboutboxes{
              width: auto;
          }
}

      /* for 666px or less */
      @media screen and (max-width: 666px) and (min-width:476px){
         #logotext{
			 top: 30px;
             left: 60px;
			 width: 75%;
          }
		  #content {
          width: auto;
          float: none;
		  }
		  #next{
              width:170px;
              height: 40px;
              font-size: 1rem;
		  }
		  #aboutboxes{
              width: auto;
          }
          #helpBut{
              bottom: 5px;
              right: 210px
		  }
}

      /* for 475px or less */
      @media screen and (max-width: 475px) and (min-width: 100px) {
		  #content {
			  width: auto;
		  }
		  #logotext{
			  top: 5%;
			  left: 4%;
			  width: 90%;
		  }
		  #next{
			  width:130px;
              font-size:.9rem;
          }
		  #helpBut{
              bottom: 5px;
              right: 155px; 
          }
		  #aboutboxes{
              width: auto;
		  }
		  .aboutboxes{
              width: 70%;
              left: 30px;
			  top:230px;
		  }
		  #helpDiv{
			  left:22px;
		  }
}

/*firstpage*/
#firstpage {
     width: 375px;
    height: 667px;
    margin: 0 auto;
    display: none;
     position: relative;
     background-color: #E2DCDE;
}
#logo {
    width: 300px;
    height: 200px;
    position: absolute;
    top:50px;
    left: 40px;
}
#formbox{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 50px;
    bottom: 0px;
    right: 0px;
    width: 80vw;
    height: 150px;
    font-family: 'Josefin Sans', sans-serif;
}
#name {
    margin: 10px;
    width: 200px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #999;
}
.gender {
    display: inline-block;
    font-size: .9em;
}
#formnotifs{
    display: none;
    width: 35%;
    position: absolute;
    bottom: 90px;
    right: 50px;
}
#start{
    position: absolute;
    bottom: 50px;
    right: 40px;
}
.gender{
    font-weight: 400;
}

/*Transition*/
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeinfadeout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}



/*secondpage*/
#secondpage{
     width: 375px;
    height: 667px;
     margin: 0 auto;
     display: none;
     position: relative;
}
.top{
    width: 100%;
    height: 80px;
    position:relative;
    left: 0px;
}
#nameDiv{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 3rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.setting{
    width: 20%;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.Homelogo{
    width: 60%;
    position: absolute;
    top: 5px;
    right: 10px;
}
.choices{
    width: 18%;
    position: absolute;  
    margin-left: 23px;
    bottom: 20px;
}
#Closet{ 
    left: 180px;
}
#Style{ left: 80px;}

#closetnotifs{
    width: 30%;
    position: absolute;  
    right: 80px;
    bottom: 94px;
    animation-name: Cnotifs;
    animation-duration: .1s;
    display: none;
}
#hidecloset{
    width: 70px;
    height: 60px;
    position: absolute;
    right: 100px;
    bottom: 30px;
    z-index: 1;
}

#label1{
    font-size: .8em;
    position: absolute;
    top: 45px;
    left: 98px;
}
#label2{
     font-size: .8em;
    position: absolute;
    top: 45px;
    right: 120px;
}
.labels { 
font-size:1.2em;
position: absolute;
    top: 135px;
    left: 43px;
}

@keyframes Cnotifs{
    from {
        right: 84px;
        bottom: 94px;
    }
    top{
        right: 75px;
         bottom: 94px;
    }
}

.bottom{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*weatherpage*/
#weatherpage{
    width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
    border: 2px solid  #AA767c;
}
#weathertitle, #styletitle{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 0px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.middle{
    width: 80%;
    height: 300px;
    position: relative;
    top: 100px;
    left: 35px;
}
#box1{
  
    width: 45%;
    position: absolute;
}
#box2{
    
    width: 45%;
    position: absolute;
    right: 0px;
}
#box3{
    
    width: 45%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#box4{
   
    width: 45%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.go{
    width: 80%;
}
.backDiv{
    width: 30%;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.nextDiv{
    width: 18%;
    height: 40px;
    position: absolute;
    bottom: 25px;
    right: 0px;
}

/*stylepage*/
#stylepage{
     width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
    border: 2px solid  #AA767c;
}
#box5{
    width: 45%;
    position: absolute;}
#box6{
    width: 45%;
    position: absolute;;
    top: 0px;
    right: 0px;
}
#box7{
    width: 45%;
    position: absolute;
left: 80px;
bottom: 0px;}



/*Dressing Page*/
#dressingpage{
   
    width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
}
#addCloset{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#middle{

    width: 90%;
    height: 340px;
    position: relative;
    top: 130px;
    left: 19px;
}
.change{
    width: 10%;
    position: absolute;
}

#changeLeft{
    top: 60px;
    z-index: 5;
}
#changeRight{
    right: 0px;
    top: 60px;
    z-index: 5;
}
#facts{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color:rgba(170,118,124,0.8);
    z-index: 5;
    display: none;
	font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
	border-radius: 20px;
	
}

h3{
	color: black;
}
#factInfo{
    width: 10%;
    position: absolute;
    right: 75px;
    bottom: 13px;
}
#closeFacts{
    top: -2%;
    right: -1.2%;
}
#dress{
    width: 70%;
    height: 416px;
    position:absolute;
    top: -45px;
    left: 55px;
    background-position: center;
    background-repeat: no-repeat; 
}
#factsin{
	color: white;
	width: 200px;
	height: 250px;
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
	overflow-y: auto;
}

/*closetpage*/
#closetpage {
    width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
    background-color: #E2DCDE;
}
#closetSaved {
    width: 350px;
    height: 500px;
    position: relative;
    top: -30px;
    left: 0px;
    padding: 10px;
    overflow-y: auto;
}
.saved{
    position: relative;
    top: 0px;
    left: 10px;
    width: 100px;
    height: 160px;
    display: inline-block;
    margin: 5px;
    background-color: #AA767c;
}
.imgsaved{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 20px;
    top: 10px;
    background-repeat: no-repeat;
    display: inline-block;
}
#chooseDiv{
	position:absolute;
	width: 53%;
	height: 50px;
	z-index: 5;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	background-color:rgba(255,255,255,0.4);
	font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
	padding: 20px;
	display: none;
	border-radius: 15px;
}
#view, #delete{
	font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
	height: 30px;
	width: 90px;
	border-radius: 50px;
	text-align: center;
	padding: 1px;
}
#showFacts{
	width: 25%;
	position: absolute;
	right: 45px;
	bottom: -60px;
	animation-name: factspop;
	animation-delay: .1s;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes factspop{
	0%{ bottom: -60px;}
	100%{
		bottom: 55px;
	}
}

/*finalLook*/
#finallookpage{
    width: 375px;
    height: 667px;
     margin: 0 auto;
     display: none;
     position: relative;
}
#finaldress{
    width: 71.4%;
    height: 419px;
    position:absolute;
    top: -12px;
    left: 50px;
    background-position: center;
    background-repeat: no-repeat; 
}
#final{
    position: absolute;
    top: 40px;
    left: 15px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
#result{
	width: 350px;
	height: 50px;
	left: 13px;
	bottom: 20px;
	position: absolute;
	font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	background-color:rgba(170,118,124,0.6);
	border-radius: 15px;
	padding-top: 16px;
	margin: auto;
}
#finalBack{
	width: 70%;
    height: 40px;
    position: absolute;
    bottom: 80px;
    left: 10px;
}
    
