body{
    margin: auto;
    overflow: hidden;
}

/*landingpage*/
#pagewrap {
    width: 100vw;
    height: 667px;
    margin: 0 auto;
/*  background-color: #E2DCDE;*/
  }    
#content{
/*    background-color: antiquewhite;*/
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 550px;
        height: 630px;
        margin: auto; 
      }
p{
            margin-top: 5%;
            font-size: 2.5em;
            text-align: center;
            position: relative;
            top: 300px;
            font-family: 'Josefin Sans', sans-serif;
   
                
        }
p:hover{
    cursor: pointer;
}
.aboutboxes{
    width: 70%;
    position: absolute;
    left: 80px;
    top: 270px;
    display: none;
}
#logotext{
            width:80%;
            position: absolute;
            top: 0px;
            left: 100px;
        }
.btn {
    cursor: pointer;
width: 150px;
background: #AA767c;
border-radius: 28px;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
color: #ffffff;
font-size: 1em;
padding: 10px 20px 10px 20px;
text-decoration: none;
}
.btn:hover {
  background: #7d4f54;
  text-decoration: none;
}
#next{
    width: 170px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}
#helpBut{
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 195px;
}
#helpDiv{
    display: none;
    padding: 15px;
    width: 80%;
    height:500px;
    background-color: rgba(189,212,231,0.9);
    position: absolute;
    left:40px;
    top: 40px;
}
#helpTitle{
font-family: 'Josefin Sans', sans-serif;
color: black;
font-size: 2em;
    text-align: center;
}
#helpSteps{
font-family: 'Josefin Sans', sans-serif;
color: black;
font-size: 1.2em;
}

      /*MEDIA QUERIES*/
      /* for 980px or less */
      @media screen and (max-width: 667px) {

        * { font-size: 1.0rem; }
        #logotext{
            top: 0px;
            left: 60px;
            width: 80%;
          }
       
          #pagewrap {
          width: 94%;
        }
        #content {
          width: 65%;  
        }
        #next{
              width:170px;
            height: 40px;
              font-size: 1.5rem;
          }
          #helpBut{
              bottom: 9px;
              right: 220px; 
          }
        #aboutboxes{
              width: auto;
          }
       
      }

      /* for 666px or less */
      @media screen and (max-width: 666px) and (min-width:476px){
         #logotext{
              top: 0px;
             left: 60px;
              width: 80%;
          }
        
          #content {
          width: auto;
          float: none;
     
        }
        #next{
              width:170px;
              height: 40px;
              font-size: 1rem;
          }
        #aboutboxes{
              width: auto;
          }
          #helpBut{
              bottom: 5px;
              right: 210px; 
          }
}

      /* for 475px or less */
      @media screen and (max-width: 475px) and (min-width: 100px) {

        
       #content {
          width: auto;
        }
       #logotext{
           top: 30px;
           left: 30px;
            width: 90%;
          }
       #next{
           width:130px;
              font-size:.9rem;
          }
        #helpBut{
              bottom: 5px;
              right: 155px; 
          }
       .aboutboxes{
              width: 90%;
              left: 20px;
              
          }
    #helpDiv{
    left:22px;
}
          
  }

/*firstpage*/
#firstpage {
     width: 375px;
    height: 667px;
    margin: 0 auto;
    display: none;
     position: relative;
     background-color: #E2DCDE;
}
#logo {
    width: 300px;
    height: 200px;
    position: absolute;
    top:50px;
    left: 40px;
}
#formbox{
    position: absolute;
    margin: auto;
    top: 100px;
    left: 50px;
    bottom: 0px;
    right: 0px;
    width: 80vw;
    height: 150px;
    font-family: 'Josefin Sans', sans-serif;
}
#name {
    margin: 10px;
    width: 200px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #999;
}
.gender {
    display: inline-block;
    font-size: .9em;
}
#formnotifs{
    display: none;
    width: 35%;
    position: absolute;
    bottom: 90px;
    right: 50px;
}
#start{
    position: absolute;
    bottom: 50px;
    right: 40px;
}
.gender{
    font-weight: 400;
}

/*Transition*/
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeinfadeout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}



/*secondpage*/
#secondpage{
     width: 375px;
    height: 667px;
     margin: 0 auto;
     display: none;
     position: relative;
}
.top{
    width: 100%;
    height: 80px;
    position:relative;
    left: 0px;
}
#nameDiv{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 3rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.setting{
    width: 20%;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.settinglogo{
    width: 50%;
    position: absolute;
    top: 10px;
    right: 5px;
}
.choices{
    width: 20%;
    position: absolute;  
    margin-left: 20px;
    bottom: 10px;
}
#Closet{ left: 180px;}
#Style{ left: 80px;}
.choices1{
    width: 20%;
    position: absolute;  
    margin-left: 20px;
    bottom: 90px;
    display: none;
}
#hover1{left: 80px;}
#hover2{left: 180px;}
.bottom{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*weatherpage*/
#weatherpage{
    width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
    border: 2px solid  #AA767c;
}
#weathertitle, #styletitle{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 0px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.middle{
    width: 80%;
    height: 300px;
    position: relative;
    top: 100px;
    left: 35px;
}
#box1{
  
    width: 45%;
    position: absolute;
}
#box2{
    
    width: 45%;
    position: absolute;
    right: 0px;
}
#box3{
    
    width: 45%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#box4{
   
    width: 45%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.iconsH{
    width: 70%;
    display:none; 
    
}
#sunnyHover{
    position: absolute;
    top: 55px;
    left: 20px;
    
}
#cloudyHover{
    position: absolute;
    top: 55px;
    right: 20px;
    
}
#rainyHover{
    position: absolute;
    bottom: 55px;
    left: 20px;
    
}
#snowyHover{
    position: absolute;
    bottom: 55px;
    right: 20px;
   
}
.go{
    width: 80%;
}
.backDiv{
    width: 30%;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.nextDiv{
    width: 18%;
    height: 40px;
    position: absolute;
    bottom: 25px;
    right: 0px;
}

/*stylepage*/
#stylepage{
     width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
    border: 2px solid  #AA767c;
}
#box5{
    width: 45%;
    position: absolute;}
#box6{
    width: 45%;
    position: absolute;;
    top: 0px;
    right: 0px;
}
#box7{
    width: 45%;
    position: absolute;
left: 80px;
bottom: 0px;}

#casualHover{
    position: absolute;
    top: 55px;
    left: 20px;
}
#businessHover{
    position: absolute;
    top: 55px;
    right: 20px;
}
#fancyHover{
    position: absolute;
    bottom:55px;
    left: 20px;
}

/*Dressing Page*/
#dressingpage{
   
     width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
}
#addCloset{
    position: absolute;
    bottom: 20px;
    left: 10px;
}
#reset{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#middle{

    width: 90%;
    height: 340px;
    position: relative;
    top: 130px;
    left: 19px;
}
.change{
    width: 10%;
    position: absolute;
}

#changeLeft{
    top: 60px;
    z-index: 5;
}
#changeRight{
    right: 0px;
    top: 60px;
    z-index: 5;
}
#facts1{
    background-repeat: no-repeat;
    width: 300px;
    height: 124px;
    position: absolute;
    top: 65px;
    left: 10px;
}
#facts2{
    background-color:#7d4f54;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 60px;
    right:0px; 
}
#facts3{
    background-color: #7d4f54;
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 150px;
    left: 0px;
}
#facts4{
    background-repeat: no-repeat;
    width: 150px;
    height: 124px;
    position: absolute;
    bottom: 130px;
    right: 0px;
}

#dress{
    width: 100%;
    height: 416px;
    position:absolute;
    top: -45px;
    left: 81px;
    background-repeat: no-repeat; 
}


/*closetpage*/
#closetpage {
    width: 371px;
    height: 663px;
    margin: 0 auto;
    display: none;
    position: relative;
    background-color: #E2DCDE;
}
#closetSaved {
    width: 350px;
    height: 500px;
    position: relative;
    top: -30px;
    left: 0px;
    padding: 10px;
    overflow: auto;
}
.saved{
    position: relative;
    top: 0px;
    left: 10px;
    width: 100px;
    height: 160px;
    display: inline-block;
    margin: 5px;
    background-color: #AA767c;
}
.imgsaved{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 20px;
    top: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    
}